<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-Products</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    {{>navbar isAdmin=isAdmin cartCnt=cartCnt}}
    <div class="container">
        {{!-- {{product}} --}}
        <div class="productDetails">
            <div class="productItem">
                <div class="productImg">
                    <img src="{{product.imageUrl}}" alt="">
                </div>
                <div class="info">
                    <div class="productInfo">
                        <h2 class="name">
                            {{product.name}}
                        </h2>
                        <ul class="description">
                            <li>{{product.description}}</li>
                        </ul>
                    </div>
                    <div class="priceInfo">
                        <div class="price">
                            $ {{product.price}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviewForm">
            <form action="/shop/addReview" method="POST">
                <input type="hidden" name="productID" value="{{product._id}}">
                <input type="text" placeholder="Add Review" name="review">
                <button type="submit">Daaldo Review</button>
            </form>

        </div>
    </div>
    <button class="logoutBtn">
        <a href="/logout">Logout</a>
    </button>

    <div class="footerPartial">
        {{>footer}}
    </div>

    <script src="/js/addToCartjs.js"></script>
</body>

</html>